@use 'vuetify/settings' with (
  $color-pack: false,
  $border-radius-root: 8px,
  $transition-duration-root: 0.18s,
  $typography: (
    'button': (
      'size': 0.9375rem,
      'weight': 500,
      'letter-spacing': 0,
      'text-transform': none
    )
  )
);
